$black-93: #121212;
$black-87: #1F1F1F;
$black-75: #2C2C2C;
$black-65: #414141;

$white: #fff;
$white-200: #FAFAFA;
$white-300: #f0f0f0;
$gray-500: #A0A8B0;
$gray-600: #6c757d;
$gray-800: #343a40;

$primary-dark: $black-93;
$primary-light: $white-200;
$text-muted: $gray-600;

$themeSpecificVariables: (
  primary:  (light: $primary-light, dark: $primary-dark),
  secondary: (light: $black-65, dark: $white-300),
  toolbar-bg:  (light: $white, dark: $black-87),
  icon-hover: (light: $gray-600, dark: $gray-600),
  home-nav-link: (light: $primary-dark, dark: $primary-light),
  modal-bg: (light: $white, dark: $black-75),
  border-color: (light: $border-color, dark: $gray-800),
  border-hover-color: (light: darken($border-color, 20%), dark: lighten($gray-800, 20%)),
  text-muted: (light: $text-muted, dark: $gray-500),
);

$font-size-base: 1rem;
$small-font-size: .8em;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight: 600;

$scale-factor: 1.333;

$h6-font-size: $font-size-base;
$h5-font-size: $h6-font-size * $scale-factor;
$h4-font-size: $h5-font-size * $scale-factor;
$h3-font-size: $h4-font-size * $scale-factor;
$h2-font-size: $h3-font-size * $scale-factor;
$h1-font-size: $h2-font-size * $scale-factor;

// Toolbar
$toolbar-top-height: 42px;