$enable-negative-margins: true;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "utilities/utility-config";
@import "variables";
@import "bootstrap";

@import "components/components";
//@import "utilities/utilities";

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--primary);
}