.btn-outline-secondary {
  color: var(--secondary);
  border: 1px solid var(--border-color);

  &:hover {
    border: 1px solid var(--border-hover-color);
    background-color: var(--secondary);
    color: var(--primary);
  }
}

.btn-close {
  background: none;
  color: var(--secondary);
  opacity: inherit;
  height: 2rem;
  width: 2rem;

  &:hover {
    color: var(--icon-hover);
  }
}