.full-screen {
  background: var(--primary);

  .main-image {
    position: relative;
  }

  .prev-image {
    position: absolute;
    top: 50%;
    left: 3%;
    color: var(--secondary);

    &:hover {
      color: var(--icon-hover);
      cursor: pointer;
    }
  }

  .next-image {
    position: absolute;
    top: 50%;
    right: 3%;
    color: var(--secondary);

    &:hover {
      color: var(--icon-hover);
      cursor: pointer;
    }
  }

  .position-pointer {
    position: absolute;
    top: 95%;
    left: 49%;
    font-size: 2rem;
    color: white;
  }

  .bottom-bar {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;

    .scrollbar {
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
    }

    &:hover {
      .scrollbar {
        -webkit-transform: none;
                transform: none;
      }
    }
  }

  .scrollbar {
    background: var(--toolbar-bg);
    position: absolute;
    transition: transform 300ms ease;
    will-change: transform;
    width: 100vw;
    overflow-x: scroll !important;
    white-space: nowrap;

    img {
      width: auto;
      height: 200px;
      cursor: pointer;
    }
  }
}