.delete-icon {
  background: var(--toolbar-bg);
  color: var(--secondary);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;

  &:hover {
    background: var(--secondary);
    color: var(--primary)
  }
}
