.masonry-container {
  width: 100%;
  margin: auto;
  
  .masonry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    margin: auto;
  }
  
  .masonry-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: stretch;
  flex-grow: 1;

    .photo {
      cursor: pointer;
    }
  }
}