$modal-padding-x: $spacer * 1.5;
$modal-padding-y: $spacer * 1.25;

.modal.show {
  display: block;
}

.modal-header {
  border: 0;
  align-items: center;
  background-color: var(--modal-bg);

  .modal-title {
    color: var(--secondary);
  }
}

.modal-body {
  background: var(--modal-bg);

  .form-control {
    background-color: var(--modal-bg);
    border-color: var(--modal-bg);
    border-bottom-color: var(--text-muted);
    color: var(--secondary);
  }

  .form-control-file::-webkit-file-upload-button {
    background-color: var(--modal-bg);
    color: var(--secondary);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    &:hover {
      border: 1px solid var(--border-hover-color);
      background-color: var(--secondary);
      color: var(--primary);
    }
  }

  input[type="file"] {
    color: var(--text-muted);
  }
}

.modal-footer {
  border: 0;
  background-color: var(--modal-bg);
}
