.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;

  .nav-link {
    transition: transform 1s;
    text-decoration: none;
    color: var(--home-nav-link);

    &:hover {
      transform: scale(1.05);
    }
  }
}

.section {
  position: relative;
  height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.static {
  background: var(--primary);
}

.footer {
  color: var(--home-nav-link)
}

.bg1::after {
  background-image: url('../../assets/images/Photo15_14A.jpg');
}

.bg2::after {
  background-image: url('../../assets/images/Photo36_35A.jpg');
}