.toolbar {
  background-color: var(--toolbar-bg);
  position: sticky;
  z-index: $zindex-sticky;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-item {
    position: relative;
    height: $toolbar-top-height;
    align-items: center;
    display: flex;
  }

  .nav-link {
    color: var(--secondary);
    padding-top: $spacer / 4;
    padding-bottom: $spacer / 4;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--icon-hover);
    }

    &.active {
      color: var(--icon-hover);

      &::after {
        background-color: var(--secondary);
        border-radius: 2px;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: $spacer / 2;
        right: $spacer / 2;
        position: absolute;
      }
    }
  }

  .toolbar-brand {
    color: var(--secondary);

    .logo-sm {
      display: flex;
    }
  }
}

.toolbar-main {
  box-shadow: 0 4px 4px -6px var(--secondary);
}